<!doctype html>
  <html>
   <head>
    <title>Chat Application</title>
    <link rel='stylesheet' href='/assets/css/style.css' type='text/css'/>
    <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.1/socket.io.js"></script>
    <script src="/assets/js/chat.js"></script>
  </head>
  <body onunload="disconnectChat()"> 
    <ul id="messages"></ul>
    <span id="notifyUser"></span>
    <form id="form" action="" onsubmit="return submitfunction();" > 
      <input type="hidden" id="user" value="" /><input id="m" autocomplete="off" onkeyup="notifyTyping();" placeholder="Type yor message here.." /><input type="submit" id="button" value="Send"/> 
    </form>
  </body>
</html>