<!doctype html>
  <html>
   <head>
    <title>Chat Application</title>
    
    <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.16.0/jquery.validate.js"></script>
    <script src="/assets/js/login.js"></script>
  </head>
  <body> 
    <form action="/login" method="post">
      
      <div class="container">
        <label><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="userName" required>

        <button type="submit">Login</button>
      </div>
    </form>
  </body>
</html>